[*.{cs,vb}]

# IDE0270: Use coalesce expression
dotnet_style_coalesce_expression = false

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = false

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false
